@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Unica+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
:root {
  --primary: #FF4545 ;
  --secondary: #F4F4F9;
  --white: #ffffff;
  --positive: #05DC9B;
  --positiveBg: #05dc9c6b;
  --nevagtive:#FA3333;
  --negativeBg:#fa333373;
  --background: #0E0E10;
  --cardDark: #18181B;
  --black: #0C0D0D;
  --gray: #8E8E8E;
  --fuente-title: 'Unica One', sans-serif;
  --fuente-body: 'Roboto', sans-serif;
  --mute: rgba(83, 83, 83, 80%);
  --tableHaderColor : #202024;
}
::selection {
  color: white;
  background: var(--primary);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*TEXTS AND TITTLES*/
a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--fuente-title);
  color: var(--white);
}

h1{
  font-size: 96px ;

}
h2{
  font-size: 60px ;

}
h3{
  font-size: 48px ;

}
h4{
  font-size: 34px ;

}
h5{
  font-size: 24px ;
  font-weight: 500;

}
h6{
  font-size: 20px ;
 
}
.font16{
  font-size: 16px;
}
.subtitle{
  font-family: var(--fuente-body);
  font-size: 16px;
  color: var(--gray);
}
.subtitle2{
  font-family: var(--fuente-body);
  font-size: 14px;
  color: var(--white);
}
.text-center{
  text-align: center;
}

p{
  font-family: var(--fuente-body);
  line-height: 20px;
  font-size: 14px;
  color: var(--secondary);
}
.bold{
  font-weight:700;
}
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
}
.overline{
  font-family: var(--fuente-body);
  font-size: 10px;
 
  letter-spacing: 1.5px;
}
.text-center{
  text-align: center;
}
.caption{
  font-size: 16px;
  font-family: var(--fuente-body);
  color: var(--gray);
}
.body2{
  font-family: var(--fuente-body);
  font-size: 14px;
  color: var(--white);
}
/*---------------------------------------------*/

/*COLORS*/
.text-gray{
  color: var(--gray);
}
.text-success{
  color: var(--positive);
}
.text-negative{
  color: var(--nevagtive);
}
.text-mute{
  color: var(--mute);
}
.bg-gray{
  background-color: var(--gray);
}
.bg-hr{
  background-color: var(--tableHaderColor);
}
.background{
  background-color: var(--background);
}
.cardBackground{
  background-color: var(--cardDark);
}
.bg-list1{
  background-color: #1C1C1C;
}
.bg-list2{
  background-color: #202020;
}
.button{
    letter-spacing: 1.25px;
    color: var(--white);
    font-family: var(--fuente-body);
    font-size: 18px;
    background-color: var(--primary);
    padding: 10px;
    border-radius:5px ;
    border-style: none;
    transition: all ease .09s ;
}
.hr-color{
  background: #333333;
}

/*-------------------------------------------*/

/*--------------COMPONENTS-------------------*/
.columnLeft{
  width: 30%;
  margin-right: 16px;
}
.columnRight{
  width: 70%;
  margin-left: 4px;
}

input:focus{
  outline-color: var(--gray) ;
}
.contentWidthDiv{
  padding-right: 16%;
  padding-left: 16%;
  display: flex;
  flex-direction: column;
}
/*------------------------------------------*/


/*-------------FLEXBOX----------------------*/
.jus-center{
 display: flex;
 justify-content: center;
}
.jus-end{
  display: flex;
  justify-content: flex-end;
}
.al-center{
  display: flex;
  align-items: center;
}
.d-flex{
  display: flex;
}
.row{
  display: flex;
  flex-direction: row;
}
.jus-bet{
  display: flex;
  justify-content: space-between;
}
.jus-ar{
  display: flex;
  justify-content: space-around;
}
.column{
  display: flex;
  flex-direction: column;
}
/*----------------------------------------------*/
/*---------ICONS--------------------------------*/
.fa-check{
  color: var(--positive);
  margin-top: 5px;
}
.fa-xmark{
  color: var(--nevagtive);
  margin-top: 5px;
}
.fa-arrow-down{
  color: var(--nevagtive);
  background-color: var(--negativeBg);
  padding: 3px 5px;
}
.fa-arrow-up{
  color: var(--positive);
  background-color: var(--positiveBg);
  padding: 3px 5px;
}
.fa-grip-lines{
  color: var(--gray);
  margin-top: 5px;
}
/*--------------------------------------------*/

/*-----------DIV STYLES & UTILITIES-----------------------*/
.radius{
  border-radius: 5px;
}
.mainContaner {
  padding: 12px 30px;
}
.cursor{
  cursor: pointer;
}
.upper{
  text-transform: uppercase;
}

/*--------------------------------------------------*/
/*--------------------WIDTH & HEIGHT-----------------*/
.w100{
  width: 100%;
}
.w-10{
  width: 10%;
}
.w-20{
  width: 20%;
}
.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
.w-25{
  width: 25%;
}
/*----------------------------------------------------*/

/*-----------------MARGINS & PADDINGS-------------------*/
.m-8{
  margin: 8px;
}
.mt-8{
  margin-top: 8px;
}
.my-8{
  margin-bottom: 8px;
  margin-top: 8px;
}
.mx-8{
  margin-left: 8px;
  margin-right: 8px;
}
.mb-8{
  margin-bottom: 8px;
}
.p-8{
  padding: 8px;
}
.pl-8{
  padding-left: 8px;
}
.pr-8{
  padding-right: 8px;
}
.pt-8{
  padding-top: 8px;
}
.pb-8{
  padding-bottom: 8px;
}
.m-12{
  margin: 12px;
}
.ml-12{
  margin-left: 12px;
}
.mb-12{
  margin-bottom: 12px;
}
.mt-12{
  margin-top: 12px;
}
.my-12{
  margin-top: 12px;
  margin-bottom: 12px;
}
.mx-12{
  margin: 0px 24px;
}
.p-12{
  padding: 12px;
}
.py-12{
  padding: 12px 0px;
}
.pb-24{
  padding-bottom: 24px;
}
.m-16{
  margin: 16px;
}
.mb-16{
  margin-bottom: 16px;
}
.p-16{
  padding: 16px;
}
.pt-16{
  padding-top: 16px;
}
.m-24{
  margin: 24px;
}
.ml-24{
  margin-left: 24px;
}
.mb-24{
  margin-bottom: 24px;
}
.p-24{
  padding: 24px;
}
.px-24{
  padding-left: 24px;
  padding-right: 24px;
}
.m-32{
  margin: 32px;
}
.mx-32{
  margin: 0px 32px;
}

.mb-32{
  margin-bottom: 32px;
}
.p-32{
  margin: 32px;
}
.px-32{
  padding: 0px 32px;
}
/*---------------------------------------------------------*/

/*--------------------MEDIA QUERYS-------------------------*/
@media (max-width: 768px) {
  .resm-12{
    margin: 0px 12px;
  }
  .w25Res{
    width: 25%;
  }
  .navBarContainer{
      padding: 0 24px;
  }  
  .contentWidthDiv{
    padding-right: 0;
    padding-left:0;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1550px) {
  .columnLeft{
    width: 100%;
    margin-right: 4px;
    
}
.mainContaner {
  padding: 0;
  padding-top: 24px;
}
.columnRight{
   
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
    margin-bottom: 8px
}
.mediaColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columnLeft{
  width: 100%;
  margin-right: 4px;
  
}
.columnRight{
 
  width: 100%;
  margin-top: 8px;
  margin-left: 0px;
  margin-bottom: 8px
}

/* ponemos las clases que gestionan los datos de las partidas*/
.position{
  width: 30%;
  justify-content: center;
}

.matchStats{
width: 100%;
display: flex;
flex-direction: column;
}
.matchContent{
  width: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
 }
}
/*---------------------------------------------------------*/