.levelContainer{
    border-radius: 30px;
    background-color: var(--primary);
    width:min-content;
    padding: 4px 6px;
    transform: translate( 0px, -13px);
}
.level{
    font-size: 12px;
}
.imgBorder{
    border-color: var(--gray);
    border-width: 1px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border-style: solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}